body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: hsl(305, 61%, 30%);
    color: white;
    padding: 10px 0;
    text-align: center;
}

.logo img {
    width: 50px;
    height: 50px;
}

main {
    padding: 20px;
    text-align: center;
}

.catch-phrase {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.coming-soon {
    font-size: 1.2em;
    color: #b433ff;
    margin-bottom: 20px;
}

.features {
    text-align: left;
    margin-bottom: 20px;
}

.image img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
}

.contact {
    font-size: 1.2em;
    margin-bottom: 20px;
}

footer {
    background-color: hsl(305, 61%, 30%);
    color: white;
    padding: 10px 0;
    text-align: center;
}
